<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-sm-3">
        Rider Terms and Conditions
      </div>
      <div class="col-sm-6">
      </div>
      <div class="col-sm-2">
        Select Language
      </div>
      <div class="col-sm-1">
        <nb-actions size="medium" [class.right]="position === 'normal'" [class.left]="position === 'inverse'">
          <nb-action size="medium" [class.right]="position === 'normal'" [class.left]="position === 'inverse'"
            *ngIf="showTransOption">
            <select #langSelect (change)="translate.use(langSelect.value)" (click)="getLang(langSelect.value)">
              <option *ngFor="let list of translate.getLangs()" [value]="list"
                [selected]="list === translate.currentLang">
                {{ list }}</option>
            </select>
          </nb-action>
        </nb-actions>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <tinymce [(ngModel)]="htmlBody" [config]="config"></tinymce>
        </div>
      </div>
    </div>
    <br>
    <button type="submit" (click)="submit(htmlBody)" class="btn btn-primary">Update</button>
  </nb-card-body>
</nb-card>