<!-- 		<section>
			<div class="contact-banner">
				<div class="container">
					<h2>Contact Us</h2>
					<p>Feel Free to Contact Us !</p>

				</div>
			</div>
		</section>
	-->
<div class="main-container">
  <div class="sub-main-div">
    <section>
      <div class="container">
        <div class="paragraph-section margin-topbtm">
          <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
            <h2>{{'COMMON.CONTACTUS' | translate}}</h2>
            <div class="col-xs-12 nopad contact-form">
              <p>{{'CONTACT.CALLBACKWITHINSECOND' | translate}}</p>
              <form #dataForm="ngForm">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>{{'CONTACT.FIRSTNAME' | translate}}</label>
                      <input
                        type="text"
                        [(ngModel)]="list.fname"
                        #fname="ngModel"
                        name="fname"
                        required
                        class="form-control"
                      />
                      <div
                        *ngIf="fname.errors && (fname.dirty || fname.touched)"
                      >
                        <br />
                        <small>
                          {{'CONTACT.FIRSTNAME' | translate}}
                          {{'COMMON.ISREQUIRED' | translate}}</small
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>{{'CONTACT.LASTNAME' | translate}}</label>
                      <input
                        type="text"
                        [(ngModel)]="list.lname"
                        #lname="ngModel"
                        name="lname"
                        required
                        class="form-control"
                      />
                      <div
                        *ngIf="lname.errors && (lname.dirty || fname.touched)"
                      >
                        <br />
                        <small>
                          {{'CONTACT.LASTNAME' | translate}}
                          {{'COMMON.ISREQUIRED' | translate}}</small
                        >
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>{{'CONTACT.EMAILADDSRESS' | translate}}</label>
                      <input
                        type="email"
                        name="mailid"
                        [(ngModel)]="list.mailid"
                        #mailid="ngModel"
                        required
                        class="form-control"
                      />
                      <div
                        *ngIf="mailid.errors && (mailid.dirty || fname.touched)"
                      >
                        <br />
                        <small>
                          {{'CONTACT.EMAILADDSRESS' | translate}}
                          {{'COMMON.ISREQUIRED' | translate}}</small
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>{{'CONTACT.PHONE' | translate}}</label>
                      <input
                        type="text"
                        name="phone"
                        mask="0000000000"
                        [(ngModel)]="list.phone"
                        #phone="ngModel"
                        required
                        class="form-control"
                      />
                      <div
                        *ngIf="phone.errors && (phone.dirty || fname.touched)"
                      >
                        <br />
                        <small
                          >{{'CONTACT.PHONE' | translate}} {{'COMMON.ISREQUIRED'
                          | translate}}</small
                        >
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>{{'CONTACT.SUBJECT' | translate}}</label>
                          <input
                            type="text"
                            name="subject"
                            [(ngModel)]="list.subject"
                            #subject="ngModel"
                            required
                            class="form-control"
                          />
                          <div
                            *ngIf="subject.errors && (subject.dirty || fname.touched)"
                          >
                            <br />
                            <small
                              >{{'CONTACT.SUBJECT' | translate}}
                              {{'COMMON.ISREQUIRED' | translate}}</small
                            >
                          </div>
                        </div>
                        <div class="form-group">
                          <label>City</label>
                          <select
                            class="form-control"
                            name="scId"
                            [(ngModel)]="list.scId"
                            required
                          >
                            <option value="undefined" selected hidden>
                              Select
                            </option>
                            <option
                              *ngFor="let city of Data"
                              value="{{city.cityId}}"
                            >
                              {{city.name}}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>{{'CONTACT.DETAIS' | translate}}</label>
                      <textarea
                        class="form-control"
                        rows="5"
                        name="detail"
                        [(ngModel)]="list.detail"
                        #detail="ngModel"
                        required
                        id="detail"
                      ></textarea>
                      <div
                        *ngIf="detail.errors && (detail.dirty || fname.touched)"
                      >
                        <br />
                        <small
                          >{{'CONTACT.DETAIS' | translate}}
                          {{'COMMON.ISREQUIRED' | translate}}</small
                        >
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 mrgn-t">
                  <input
                    [disabled]="!dataForm.form.valid"
                    type="submit"
                    (click)="SendTo(list)"
                    value="{{'DASHBOARD.SUBMIT' | translate}}"
                    class="submitbtn"
                  />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
