<ng-template [ngIf]="initial==0">
  <nb-card>
    <nb-card-header>
      <div class="row">
        <div class="col-sm-10">
          {{title}}
        </div>
        <div class="col-sm-2">
          <button type="button" (click)="btBack(1)" class="btn btn-danger pull-right">Add Color</button>
        </div>
      </div>
    </nb-card-header>
    <nb-card-body>
      <ng2-smart-table [settings]="settings" [source]="source" (custom)="route($event)" *ngIf="source ">
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>
</ng-template>
<ng-template [ngIf]="initial==1">
  <div class="row">
    <div class="col-sm-6">
      <nb-card>
        <nb-card-header>Add Color</nb-card-header>
        <nb-card-body>
          <form #dataForm1="ngForm">
            <div class="form-group">
              <label>
                Vehicle Availability Color
              </label>
              <input type='text' required placeholder="Enter the Color" [(ngModel)]="list.name" #colors="ngModel"
                name="colors" class="form-control" />
              <small class="form-text error" *ngIf="colors.invalid && (colors.dirty)">color is Mandatory!
              </small>
            </div>
          </form>
        </nb-card-body>
        <nb-card-footer>
          <button (click)="AddColors(list)" [disabled]="!dataForm1.form.valid" type="submit" class="btn btn-success">
            Add
          </button> &nbsp;
          <button (click)="btBack(0)" type="button" class="btn btn-info">
            Back
          </button>
        </nb-card-footer>
      </nb-card>
    </div>

  </div>
</ng-template>
<ng-template [ngIf]="initial==2">
  <div class="row">
    <div class="col-sm-6">
      <nb-card>
        <nb-card-header>Edit Color</nb-card-header>
        <nb-card-body>
          <form #dataForm2="ngForm">
            <div class="form-group">
              <label>
                Vehicle Availability Color
              </label>
              <input type='text' placeholder="Enter the Color" required [(ngModel)]="selectedDocs.name"
                #colors="ngModel" name="colors" class="form-control" />
              <small class="form-text error" *ngIf="colors.invalid && (colors.dirty)">Colors is Mandatory!
              </small>
            </div>
          </form>
        </nb-card-body>
        <nb-card-footer>
          <button (click)="updateColors(selectedDocs)" [disabled]="!dataForm2.form.valid" type="submit"
            class="btn btn-primary">
            Update
          </button> &nbsp;
          <button (click)="deleteColors(selectedid)" type="button" class="btn btn-danger">
            Delete
          </button> &nbsp;
          <button (click)="btBack(0)" type="button" class="btn btn-info">
            Back
          </button>
        </nb-card-footer>
      </nb-card>
    </div>

  </div>
</ng-template>
