<ngx-spinner bdOpacity="0.9" bdColor="#333" size="medium" color="#fff" type="ball-clip-rotate-multiple">
</ngx-spinner>
<!-- <div *ngIf="state;  then list">   
</div> #list -->
<!-- <section >
	<div class="overlay-back"  *ngIf="openoverly" (click)="menuoption(2)"></div>
	<div class="leftlogin-sidbar {{menuclass}}">
	    <div class="back-img">
	    	<h4><i class="closefilter" (click)="menuoption(2)"></i>Mark Bruno</h4>
	    </div>		 
		<ul >
			<li><a href=""><i class="fa fa-user"></i> My newProfile</a></li>
			<li><a href=""><i class="fa fa-car"></i> My Taxi's</a></li>
			<li><a href=""><i class="fa fa-location-arrow"></i> My Trips</a></li>
			<li><a href=""><i class="fa fa-money"></i> My Earning</a></li>
			<li><a href=""><i class="fa fa-inbox"></i> My Wallet</a></li>
		</ul>       
	</div>
</section> -->
<div class="main-container">
  <div class="sub-main-div">
    <section>
      <div class="container">
        <div class="loginform mt mb">
          <div class="col-lg-11 col-sm-11 col-md-11 col-xs-12">
            <div class="login-tittle" id="logn-tittle">
              <h2>{{'RIDER.LOGIN' | translate}}</h2>
              <p>{{'FARE.RIDERLOGIN' | translate}}</p>
            </div>
            <!-- <div class="forgot-tittle" id="forgt-tittle">
				<h2>Forgot Password </h2>
			</div> -->
            <div class="col-lg-5 col-sm-5 col-md-5 col-xs-12 mt no_pad formlabel">
              <!-- login form -->
              <form (ngSubmit)="loginRider(list);clearMsg();" #dataForm="ngForm">
                <div class="login-form-hide" id="login_box">
                  <div class="form-group">
                    <label>{{'FARE.USERNAME' | translate}} </label>
                    <input type="text" placeholder="Enter Email / Phone Number" [(ngModel)]="list.email"
                      #email="ngModel" name="email" required class="form-control" />
                    <div *ngIf="email.errors && (email.dirty || email.touched)">
                      <br />
                      <small>{{'COMMON.EMAILPHONE' | translate}}
                        {{'COMMON.ISREQUIRED' | translate}}</small>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>{{'DRIVER.PASSWORD' | translate}}</label>
                    <input type="password" placeholder="Enter Password" [(ngModel)]="list.password" #password="ngModel"
                      name="password" required class="form-control" />
                    <div *ngIf="password.errors && (password.dirty || password.touched)">
                      <br />
                      <small>{{'DRIVER.PASSWORD' | translate}} {{'COMMON.ISREQUIRED'
                        | translate}}</small>
                    </div>
                  </div>
                  <input type="submit" class="loginbutn" [disabled]="!list.email && !list.password"
                    value="{{'RIDER.LOGIN' | translate}}" />
                  <a routerLink="../riderforgotpassword" class="forgotpwd click-show-forget">{{'DRIVER.FORGOTPASSWORD' |
                    translate}}</a>
                </div>
              </form>
              <!-- eng login form  -->
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12 mt sociallink">
              <h4>{{'RIDER.DONTHAVEANACCOUNT' | translate}}</h4>
              <a routerLink="../ridersignup" class="signup">{{'RIDER.SIGNUP' | translate}}</a>
              <!-- <h4>Register with one click:</h4>
				<a href="#" class="fa fa-facebook"></a>
				<a href="#" class="fa fa-twitter"></a>
				<a href="#" class="fa fa-google"></a> -->
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="col-lg-10 col-lg-offset-2 col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2 col-xs-12 no_pad mb">
        <div class="notebox">
          <b>{{'RIDER.NOTE' | translate}}</b>
          <p>- {{'RIDER.YOUHAVEREGISTERASNEWRIDER' | translate}}</p>
          <br />
          <!-- <p>
					To view the Standard Features of the Apps use below access detail :
				</p>
				<br>
				<b>Driver</b>
				<p>Username:example@gmail.com</p>
				<p>Password:12345</p>
				<br>
				<b>Passengers</b>
				<p>Username:example@gmail.com</p>
				<p>Password:12345</p> -->
        </div>
      </div>
    </section>
  </div>
</div>