<div class="row">
  <div class="col-sm-6">
    <nb-card>
      <nb-card-header>Add a State</nb-card-header>
      <nb-card-body>
        <form #dataForm="ngForm">
          <div class="form-group">
            <label class="required">Country Name</label>
            <ng-select name="countries" placeholder="Select a Country" filterPlaceholder="Type to Search a Country"
              notFoundMsg="No Countries Found" [(ngModel)]="list.countryId" [options]="countries" [allowClear]="true"
              (selected)="selectedCountry($event);" (deselected)="deSelectedCountry($event);" required>
              <ng-template #optionTemplate let-option="option">
                <span class="{{option.value}}">{{option.label}}</span>
              </ng-template>
            </ng-select>
          </div>
          <br>
          <div *ngIf="showStateTextBox()">
            <div class="form-group">
              <label class="required">State Name</label>
              <input type="text" [(ngModel)]="list.name" #name="ngModel" name="name" required placeholder="State Name"
                class="form-control" />
              <small *ngIf="name.invalid && (name.dirty)" class="form-text error">
                State Name is required!
              </small>
            </div>
            <!-- <div class="form-group">
                <label>Sort Name</label>
                <input type="text" [(ngModel)]="list.sortname" #sortname="ngModel" name="sortname" required placeholder="Sort Name" class="form-control"/>
                <small *ngIf="sortname.invalid && (sortname.dirty)" class="form-text error">
                  Sort Name is required!
                </small>
              </div>

            <div class="form-group">
             <label>Phone Code</label>
              <input type="text"  [(ngModel)]="list.phoneCode" name="phoneCode"  #phoneCode="ngModel"  placeholder="Phone Code" class="form-control" required />
              <small *ngIf="phoneCode.invalid && (phoneCode.dirty)" class="form-text error">
                Phone Code is required!
              </small>
            </div>    -->
            <button type="submit" (click)="AddNewDoc(list)" [disabled]="!dataForm.form.valid" class="btn btn-success btn-block">
              Add </button>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
