@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  .solar-card nb-card-header {
    border: none;
    padding-bottom: 0;
  }

  @include media-breakpoint-down(sm) {
    ngx-traffic {
      display: none;
    }
  }

  @include media-breakpoint-down(is) {
    /deep/ nb-card.large-card {
      height: nb-theme(card-height-medium);
    }
  }
} 
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$gridster-app-primary: mat-palette($mat-blue);
$gridster-app-accent:  mat-palette($mat-blue);

// The warn palette is optional (defaults to red).
$gridster-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$gridster-app-theme: mat-light-theme($gridster-app-primary, $gridster-app-accent, $gridster-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($gridster-app-theme);
gridster-item .my-div {
  pointer-events: none;
 }
 
 .my-drag-in-progress gridster-item .my-div {
  pointer-events: initial;
 }
 .example-box {
  width: 140px;
  height: 97px;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  position: relative;
  z-index: 1;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
              0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.example-box:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.dashboard {
  width: 100%;
  overflow: hidden;
  background: whitesmoke;
}

.dashboard /deep/ .widget {
  background-color: darkgrey;
}

.widget .close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.head handle {
  cursor: move;
  background-color: rgb(240, 41, 41);

}