<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>Add Hotel Details</nb-card-header>
      <nb-card-body>
        <form #dataForm="ngForm" autocomplete="off">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="required">Hotel Name (<span class="red">*</span>)</label>
                <input type="text" minlength={{validation.fnameValid.minlength}}
                  maxlength={{validation.fnameValid.maxlength}} pattern={{validation.fnameValid.pattern}}
                  [(ngModel)]="list.fname" #fname="ngModel" name="fname" required placeholder="Hotel Name"
                  class="form-control" />
                <!-- <small class="md-errors-spacer" [hidden]=" fname.valid ||  fname.untouched" class="form-text error">
                    <small *ngIf="fname.errors && fname.errors.required">
                            Hotel Name is required
                    </small>
                    <small *ngIf="fname.errors && fname.errors.pattern">
                            Hotel Name is invalid
                    </small>
            </small> -->
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="required">Owner Name (<span class="red">*</span>) </label>
                <input type="text" minlength={{validation.lnameValid.minlength}}
                  maxlength={{validation.lnameValid.maxlength}} pattern={{validation.lnameValid.pattern}}
                  [(ngModel)]="list.lname" #lname="ngModel" name="lname" required placeholder="Owner Name"
                  class="form-control" />
                <small *ngIf="lname.invalid && (lname.dirty)" class="form-text error">
                  Owner Name is invalid!
                </small>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="required">Email (<span class="red">*</span>)</label>
                <input type="email" email pattern={{validation.emailValid}} [(ngModel)]="list.email" #email="ngModel"
                  name="email" required placeholder="Email" autocomplete="off" class="form-control" />
                <small *ngIf="email.invalid && (email.dirty)" class="form-text error">
                  Valid Emailid is required!
                </small>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="required">Password (<span class="red">*</span>)</label>
                <input type="password" minlength={{validation.pwdValid.minlength}}
                  maxlength={{validation.pwdValid.maxlength}} [(ngModel)]="list.password" autocomplete="new-password"
                  name="password" #pwd="ngModel" required placeholder="Password" class="form-control" required />
                <small *ngIf="pwd.invalid && (pwd.dirty)" class="form-text error">
                  Valid Password is required!
                </small>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="required">Phone (<span class="red">*</span>)</label>
                <input type="number" pattern={{validation.phoneValid.pattern}}
                  minlength={{validation.phoneValid.minlength}} maxlength={{validation.phoneValid.maxlength}}
                  [(ngModel)]="list.phone" name="phone" #phone="ngModel" placeholder="Phone" class="form-control"
                  required />
                <small *ngIf="phone.invalid && (phone.dirty)" class="form-text error">
                  Phone is required!
                </small>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="required">Address (<span class="red">*</span>)</label>
                <div class="input-group  ">
                  <ng4geo-autocomplete class="form-control" name="address" [userSettings]="userSettings"
                    (componentCallback)="autoCompleteCallback1($event)"></ng4geo-autocomplete>
                </div>
                <!-- <input placeholder="search for location" class="form-control" #search> -->
                <!-- <input type="text" [(ngModel)]="list.address" #address="ngModel"  name="address" required placeholder="Address" class="form-control"/> -->
                <!-- <small *ngIf="address.invalid && (address.dirty)" class="form-text error">
                Address is required!
              </small> -->
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="required">Commission(%) (<span class="red">*</span>)</label>
                <input type="number" [(ngModel)]="list.commission" name="commission" required
                  placeholder="Commission(%)" class="form-control" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="required">PickUp From (<span class="red">*</span>)</label>
                <!-- <ng4geo-autocomplete  class="form-control"     name="pickFrom"  [userSettings]="userSettings" (componentCallback)="autoCompleteCallback2($event)"></ng4geo-autocomplete> -->
                <input type="text" [(ngModel)]="list.pickFrom" #pickFrom="ngModel" name="pickFrom"
                  placeholder="PickUp From" class="form-control" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="required">Account Code (<span class="red">*</span>)</label>
                <input type="number" [(ngModel)]="list.actCode" name="actCode" placeholder="Account Code" required
                  class="form-control" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="required">Account Number (<span class="red">*</span>)</label>
                <input type="text" [(ngModel)]="list.actNo" name="actNo" placeholder="Account Number" required
                  class="form-control" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="required">Logo (<span class="red">*</span>)</label>
                <input type="file" class="form-control" [(ngModel)]="list.file" (change)="fileEvent($event)" name="file"
                  required #file="ngModel" value="Logo" />
                <small *ngIf="file.invalid && (file.dirty)" class="form-text error">
                  Logo is required!
                </small>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Country</label>
                <ng-select name="countries" placeholder="Select a Country" filterPlaceholder="Type to Search a Country"
                  notFoundMsg="No Countries Found" [(ngModel)]="list.country" [options]="countries" [allowClear]="true"
                  (selected)="selectedCountry($event);" (deselected)="deSelectedCountry($event);">
                  <ng-template #optionTemplate let-option="option">
                    <span class="{{option.value}}">{{option.label}}</span>
                  </ng-template>
                </ng-select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>State / Provinces</label>
                <ng-select name="states" placeholder="Select a State / Provinces"
                  filterPlaceholder="Type to Search a State / Provinces" notFoundMsg="No States / Provinces found"
                  [(ngModel)]="list.state" [options]="states" [allowClear]="true" (selected)="selectedState($event);"
                  (deselected)="deSelectedState($event);">
                  <ng-template #optionTemplate let-option="option">
                    <span class="{{option.value}}">{{option.label}}</span>
                  </ng-template>
                </ng-select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>City</label>
                <ng-select name="cities" placeholder="Select a City" filterPlaceholder="Type to Search a City"
                  notFoundMsg="No Cities Found" [(ngModel)]="list.city" [options]="cities" [allowClear]="true"
                  (selected)="selectedCity($event);" (deselected)="deSelectedCity($event);">
                  <ng-template #optionTemplate let-option="option">
                    <span class="{{option.value}}">{{option.label}}</span>
                  </ng-template>
                </ng-select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>ZipCode</label>
                <input type="text" [(ngModel)]="list.zipCode" #zipCode="ngModel" name="zipCode" placeholder="zipCode"
                  class="form-control" />
                <small *ngIf="zipCode.invalid && (zipCode.dirty)" class="form-text error">
                  ZipCode is required!
                </small>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Account Holder Name </label>
                <input type="text" minlength={{validation.fnameValid.minlength}}
                  maxlength={{validation.fnameValid.maxlength}} pattern={{validation.fnameValid.pattern}}
                  #actHolder="ngModel" [(ngModel)]="list.actHolder" name="actHolder" placeholder="Account Holder Name"
                  class="form-control" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Name of Bank</label>
                <input type="text" [(ngModel)]="list.actBank" name="actBank" placeholder="Name of Bank"
                  class="form-control" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Bank Location</label>
                <input type="text" [(ngModel)]="list.actLoc" name="actLoc" placeholder="Bank Location"
                  class="form-control" />
              </div>
            </div>
          </div>
        </form>
      </nb-card-body>
      <nb-card-footer>
        <button type="submit" (click)="AddHotel(list)" [disabled]="!dataForm.form.valid"
          class="btn btn-success">Add</button>
      </nb-card-footer>
    </nb-card>
  </div>
</div>



<!-- <button (click)="goBack()" type="button" class="btn btn-danger">
Go Back
</button> -->
