  <div class="row">
 
        <nb-card  > 
            <nb-card-header>Activation Key</nb-card-header> 
  <nb-card-body>
  
  <form  #dataForm="ngForm" >
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email"  [(ngModel)]="list.email"  class="form-control"   name="email"   #email="ngModel"  required placeholder="Email">
    </div>
    <div class="form-group">
      <label for="pwd">Key:</label>
      <input type="text" class="form-control"  [(ngModel)]="list.abserveKey" #abserveKey="ngModel" name="abserveKey" 
       required placeholder="Key" >
    </div>
    
    <button type="submit" (click)="verifyMe(list);" [disabled]="!dataForm.form.valid"  class="btn btn-primary">Submit</button>
  </form>
</nb-card-body>
</nb-card>
<!-- </div> -->
</div>

 
      