<ngx-spinner
  bdOpacity="0.9"
  bdColor="#333"
  size="medium"
  color="#fff"
  type="ball-clip-rotate-multiple"
>
</ngx-spinner>

<div class="main-container">
  <div class="sub-main-div">
    <section>
      <div class="my-profile mrgn-t-30 pading-btm">
        <div
          class="col-lg-11 col-lg-offset-1 col-sm-11 col-sm-offset-1 col-md-11 col-md-offset-1 col-xs-12"
        >
          <h3>{{'COMMON.MYPROFILE' | translate}}</h3>
          <div *ngIf="expandedprofile">
            <div
              class="col-lg-2 col-md-2 col-sm-2 col-xs-12 drvr-profile-img no_pad relative"
            >
              <img [src]="SelectedUserPic" />
              <i
                class="fa fa-pencil pencil-postn"
                data-toggle="modal"
                data-target="#exampleModal"
              ></i>
            </div>
            <div
              class="col-lg-10 col-md-10 col-sm-10 col-xs-12 drve-profil-detail padding-leff-4"
            >
              <div class="edit-button log" (click)="logout()">
                <i class="fa fa-sign-out"></i>{{'COMMON.LOGOUT' | translate}}
              </div>
              <h5>{{SetDetail.fname}} {{SetDetail.lname}}</h5>
              <p>{{SetDetail.gender}} | {{SetDetail.email}}</p>
              <!-- <p>
                <i class="fa fa-map-marker pading-right-1"></i>{{SetDetail.cityname}} | {{SetDetail.statename}} |
                {{SetDetail.cntyname}}
              </p> -->
              <p>
                {{'PROFILE.MYREFERALCODE' | translate}}: {{SetDetail.referal}}
              </p>
              <div
                class="edit-button"
                style="font-size: 17px !important"
                (click)="profiledetail($event)"
              >
                <i class="fa fa-pencil"></i> {{'COMMON.UPDATE' | translate}}
              </div>
            </div>
          </div>

          <div *ngIf="!showProfileSave">
            <div
              class="modal fade model-hide"
              id="exampleModal"
              tabindex="-1"
              role="dialog"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog" role="document">
                <div class="modal-content modal-content-popup">
                  <div class="modal-header">
                    <button
                      type="button"
                      class="close"
                      id="CloseButton"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="exampleModalLabel">
                      {{'PROFILE.PROFILEPICUTRE' | translate}}
                    </h5>
                  </div>
                  <div class="modal-body">
                    <div id="click-result"></div>
                    <div class="upload">
                      <div class="form-group">
                        <label>{{'PROFILE.UPLOADFILE' | translate}}</label>
                        <input
                          class="form-control"
                          type="file"
                          (change)="fileEvent2($event)"
                          value="Insurance"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer text-center">
                    <button
                      type="button"
                      (click)="setProfile()"
                      class="btn btn-secondary savepopup"
                    >
                      {{'PROFILE.SAVE' | translate}}
                    </button>
                    <button
                      type="button"
                      class="btn btn-primary cancelpopup"
                      data-dismiss="modal"
                    >
                      {{'PROFILE.CANCEL' | translate}}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- profile-detail-hide -->
          <div *ngIf="expandedprofiledetail">
            <div
              class="col-lg-11 col-lg-offset-1 col-md-11 col-md-offset-1 col-sm-11 col-sm-offset-1 col-xs-12"
            >
              <form name="editForm" #editForm="ngForm">
                <!-- <div class="form-group ">
                  <label>Enter Your Email Id
                    <span class="astrick">&nbsp;*</span>
                  </label>
                  <input type="text" class="form-control" [(ngModel)]="SetDetail.email" #email="ngModel" name="email"
                    required>
                  <div *ngIf="email.errors && (email.dirty || email.touched)">
                    <br>
                    <small> Email is required</small>

                  </div>
                </div> -->
                <br />
                <div class="form-group">
                  <label
                    >{{'PROFILE.YOURFIRSTNAME' | translate}}
                    <span class="astrick">&nbsp;*</span>
                  </label>
                  <input
                    type="text"
                    [(ngModel)]="SetDetail.fname"
                    #fname="ngModel"
                    name="fname"
                    required
                    class="form-control"
                  />
                </div>
                <div class="form-group">
                  <label
                    >{{'PROFILE.YOURLASTNAME' | translate}}
                    <span class="astrick">&nbsp;*</span>
                  </label>
                  <input
                    type="text"
                    name="lname"
                    [(ngModel)]="SetDetail.lname"
                    #lname="ngModel"
                    required
                    class="form-control"
                  />
                </div>
                <div class="form-group">
                  <label
                    >{{'COMMON.SELECTCOUNTRY' | translate}}
                    <span class="astrick">&nbsp;*</span>
                  </label>
                  <select
                    class="form-control"
                    id="sel1"
                    name="cnty"
                    [(ngModel)]="SetDetail.cnty"
                    #cnty="ngModel"
                    (change)="GetState($event)"
                    required
                  >
                    <!-- <option value="{{SetDetail.cntyname}}">{{ SetDetail.cntyname}}</option> -->
                    <option value="undefined" selected hidden>
                      {{'COMMON.SELECTCOUNTRY' | translate}}
                    </option>
                    <option
                      *ngFor="let country of countryary"
                      [value]="country.value"
                    >
                      {{country.label}}
                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <label
                    >{{'COMMON.SELECTSTATE' | translate}}
                    <span class="astrick">&nbsp;*</span>
                  </label>
                  <select
                    class="form-control"
                    id="sel1"
                    name="state"
                    [(ngModel)]="SetDetail.state"
                    (change)="GetCity($event)"
                    #state="ngModel"
                    required
                  >
                    <!-- <option value="{{SetDetail.statename}}">{{SetDetail.statename}}</option> -->
                    <option value="undefined" selected hidden>
                      {{'COMMON.SELECTSTATE' | translate}}
                    </option>
                    <option
                      *ngFor="let state of stateary"
                      [value]="state.value"
                    >
                      {{state.label}}
                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <label
                    >{{'COMMON.SELECTCITY' | translate}}
                    <span class="astrick">&nbsp;*</span>
                  </label>
                  <select
                    class="form-control"
                    id="sel1"
                    name="city"
                    [(ngModel)]="SetDetail.city"
                    (change)="SetCity($event)"
                    #city="ngModel"
                    required
                  >
                    <!-- <option value="{{SetDetail.cityname}}">{{SetDetail.cityname}}</option> -->
                    <option value="undefined" selected hidden>
                      {{'COMMON.SELECTCITY' | translate}}
                    </option>
                    <option *ngFor="let city of cityary" [value]="city.value">
                      {{city.label}}
                    </option>
                  </select>
                </div>
                <!-- <div class="form-group  ">
                  <label>Country</label>
                  <select class="form-control" [(ngModel)]="SetDetail.cnty" (change)="GetState($event)" name="cty"
                    #cnty="ngModel" placeholder="Country" required>
                    <option *ngFor="let country of countryary" [value]="country.id">
                      {{country.name}}
                    </option>
                  </select>
                  <small *ngIf="cnty.invalid && (cnty.dirty)" class="form-text error">
                    Country is required!
                  </small>
                </div>
                <div class="form-group  ">
                  <label>State</label>
                  <select class="form-control" [(ngModel)]="SetDetail.state" (change)="GetCity($event)" name="state"
                    placeholder="State">
                    <option>Select State</option>
                    <option *ngFor="let state of stateary" [value]="state.id">
                      {{state.name}}
                    </option>
                  </select>
                </div>

                <div class="form-group  ">
                  <label>City</label>
                  <select class="form-control" [(ngModel)]="SetDetail.city" (change)="SetCity($event)" name="city"
                    placeholder="City">
                    <option>Select City</option>
                    <option *ngFor="let city of cityary" [value]="city.id">
                      {{city.name}}
                    </option>
                  </select>
                </div> -->
                <!-- <div class="form-group ">
                  <label>Select Country
                    <span class="astrick">&nbsp;*</span>
                  </label>
                  <input type="text"  name="cntyname" [(ngModel)]="SetDetail.cntyname" #cntyname="ngModel" readonly   class="form-control"> -->

                <!-- <select class="form-control" id="sel1" name="cntyname" [(ngModel)]="SetDetail.cntyname" #cntyname="ngModel" (change)="GetState($event)"
                required>
                <option value="{{SetDetail.cntyname}}">{{ SetDetail.cntyname}}</option>
                <option *ngFor="let country of countryary"   [value]="country.id" >
                {{country.name}}
              </option>                           
            </select> -->
                <!-- </div> -->
                <!-- <div class="form-group ">
            <label>Select State
              <span class="astrick">&nbsp;*</span>
            </label>
            <input type="text"  name="statename" [(ngModel)]="SetDetail.statename"  #statename="ngModel" readonly   class="form-control"> -->

                <!-- <select class="form-control" id="sel1" name="statename" [(ngModel)]="SetDetail.statename" (change)="GetCity($event)" #cntyname="ngModel"
                required>
                <option value="{{SetDetail.statename}}">{{stateary[SetDetail.statename]}}</option>
                 <option *ngFor="let state of stateary" [value]="state.id" >
                {{state.name}}
              </option>      
            </select> -->
                <!-- </div> -->
                <!-- <div class="form-group ">
            <label>Select City
              <span class="astrick">&nbsp;*</span>
            </label>
            <input type="text"  name="cityname" [(ngModel)]="SetDetail.cityname"  #cityname="ngModel" readonly   class="form-control"> -->

                <!-- <select class="form-control" id="sel1" name="cityname" [(ngModel)]="SetDetail.cityname" (change)="SetCity($event)" #cntyname="ngModel"
                required>
                <option value="{{SetDetail.cityname}}">{{cityary[SetDetail.cityname]}}</option> 
                 <option *ngFor="let city of cityary" [value]="city.id" >
                {{city.name}}
              </option> 
            </select>-->
                <!-- </div>
           -->
                <div class="form-group">
                  <label>{{'PROFILE.LANGUAGE' | translate}}</label>
                  <select
                    class="form-control"
                    [(ngModel)]="SetDetail.lang"
                    name="lang"
                    placeholder="Language"
                  >
                    <option value="undefined" selected hidden>
                      {{'PROFILE.SELECTLANGUAGE' | translate}}
                    </option>
                    <option *ngFor="let lang of langary" [value]="lang.id">
                      {{lang.name}}
                    </option>
                  </select>
                </div>

                <div class="form-group">
                  <label>{{'PROFILE.CURRENCY' | translate}}</label>
                  <select
                    class="form-control"
                    [(ngModel)]="SetDetail.cur"
                    name="cur"
                    placeholder="Currency"
                  >
                    <option value="undefined" selected hidden>
                      {{'PROFILE.SELECTCURRENCY' | translate}}
                    </option>
                    <option *ngFor="let cur of currencyary" [value]="cur.id">
                      {{cur.name}}
                    </option>
                  </select>
                </div>
                <!-- <div class="form-group ">
            <label>Select Language
              <span class="astrick">&nbsp;*</span>
            </label>
            <input type="text"  name="lang" [(ngModel)]="SetDetail.lang"  #lang="ngModel" readonly   class="form-control"> -->

                <!-- <select class="form-control" id="sel1" name="lang" [(ngModel)]="SetDetail.lang" #lang="ngModel">
                <option value="{{SetDetail.lang}}">{{SetDetail.lang}}</option>
                <option *ngFor="let lang of langary"   [value]="lang.id" >
              {{lang.name}}
            </option>                            
          </select> -->
                <!-- </div>
        <div class="form-group ">
          <label>Select Currency
            <span class="astrick">&nbsp;*</span>
          </label>
          <input type="text"  name="cur" [(ngModel)]="SetDetail.cur"  #cur="ngModel" readonly   class="form-control"> -->

                <!-- <select class="form-control" id="sel1" name="cur" name="cur" [(ngModel)]="SetDetail.cur" #cur="ngModel">
              <option value="{{SetDetail.cur}}">{{SetDetail.cur}}</option> -->
                <!-- <option *ngFor="let cur of currencyary"   [value]="cur.id" >
              {{cur.name}}
            </option> -->
                <!-- </select> -->
                <!-- </div> -->
                <br />
              </form>
              <div class="save-cancel-profile">
                <input
                  name="save"
                  type="submit"
                  (click)="updateProfile(SetDetail)"
                  value="Save"
                  class="sc-butn m-r-10"
                />
                <button (click)="profiledetail($event)" class="sc-butn">
                  {{'PROFILE.CANCEL' | translate}}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container mrgn-t-90 mrgn-b-50 edit-profile-epm">
        <div
          class="col-lg-6 col-sm-6 col-md-6 col-xs-12 custom-box pad25 relative"
        >
          <div class="email-box">
            <h4>{{'CONTACT.EMAILADDSRESS' | translate}}</h4>
            <p>{{SetDetail.email}}</p>
            <div
              class="pwd-box-edit show-phonenumber"
              (click)="editemail($event)"
            >
              <i class="fa fa-pencil"></i> {{'COMMON.UPDATE' | translate}}
            </div>
            <i class="fa fa-envelope faenvelope"></i>
          </div>
          <div class="pwd_email_box">
            <div class="pwd-box-1" *ngIf="expandedemaildetail">
              <h4>
                <i class="fa fa-unlock-alt"></i>&nbsp;&nbsp;&nbsp;{{'TRIP.EMAIL'
                | translate}}
              </h4>

              <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                <div class="form-group">
                  <label
                    >{{'CONTACT.EMAILADDSRESS' | translate}}
                    <span class="astrick">&nbsp;*</span>
                  </label>
                  <input
                    type="email"
                    email
                    [disabled]="showOtp"
                    class="form-control"
                    [(ngModel)]="SetDetail.email"
                    #email="ngModel"
                    name="email"
                    required
                  />
                </div>
              </div>

              <div class="col-xs-12 col-md-3">
                <input
                  name="Save"
                  type="submit"
                  value="Save"
                  [disabled]="showOtp"
                  (click)="checkEmailWithOTP(SetDetail.email)"
                  class="sc-butn"
                />
              </div>
              <br />
              &nbsp;
              <div class="col-md-12">
                <div *ngIf="showOtp===true">
                  <div class="form-group">
                    <!-- <h3>OTP</h3> -->
                    <label
                      >{{'DRIVER.OTP' | translate}}
                      <span class="astrick">&nbsp;*</span>
                    </label>
                    <input
                      autofocus
                      type="tel"
                      mask="0000"
                      [(ngModel)]="newList.otp"
                      #otp="ngModel"
                      name="otp"
                      required
                      placeholder="{{'DASHBOARD.ENTER' | translate}} {{'DRIVER.OTP' | translate}}"
                      class="form-control"
                    />
                    <small
                      *ngIf="otp.invalid && (otp.dirty)"
                      class="form-text error"
                    >
                      {{'DRIVER.OTP' | translate}} {{'COMMON.ISREQUIRED' |
                      translate}}
                    </small>
                  </div>
                  <br />
                  <div class="form-group">
                    <button
                      type="submit"
                      [disabled]="!newList.otp"
                      (click)="verifyOTP('email',newList.otp)"
                      class="btn btn-danger"
                    >
                      {{'DASHBOARD.SUBMIT' | translate}}
                    </button>
                  </div>
                </div>
              </div>

              <img src="assets/images/arrow-top.jpg" class="postn-arrow" />
            </div>
          </div>
        </div>
        <!-- <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12 custom-box pad25 relative">
          <div class="pwd-box">
            <h4>Password</h4>
            <div class="pwd-box-edit" (click)="editpassword($event)">
          <i class="fa fa-pencil"></i> View
        </div>
            <i class="fa fa-mobile-phone famobile"></i>
          </div>
        </div> -->
        <div
          class="col-lg-6 col-sm-6 col-md-6 col-xs-12 custom-box pad25 relative"
        >
          <div class="mobilnum-box">
            <h4>{{'PROFILE.MOBILENUMBER' | translate}}</h4>
            <p>{{SetDetail.phone}}</p>
            <!-- <p>{{232329999}}</p>        -->
            <div
              class="pwd-box-edit show-phonenumber"
              (click)="editmobile($event)"
            >
              <i class="fa fa-pencil"></i> {{'COMMON.UPDATE' | translate}}
            </div>
            <i class="fa fa-unlock-alt falock"></i>
          </div>
        </div>

        <!--_____________________________________________________________________________-->

        <!--_____________________________________________________________________________-->
        <!-- hide password -->
        <div
          class="col-lg-12 col-sm-12 col-md-12 col-xs-12 pad25 relative"
          *ngIf="expandededitpassword"
        >
          <div class="pwd-box-1">
            <h4>
              <i class="fa fa-unlock-alt"></i
              >&nbsp;&nbsp;&nbsp;{{'DRIVER.PASSWORD' | translate}}
            </h4>

            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
              <div class="form-group">
                <label
                  >{{'DRIVER.NEWPASSWORD' | translate}}
                  <span class="astrick">&nbsp;*</span>
                </label>
                <input
                  type="text"
                  [(ngModel)]="SetDetail.newPassword"
                  #newPassword="ngModel"
                  form="editForm"
                  name="newPassword"
                  class="form-control"
                  placeholder="{{'DRIVER.NEWPASSWORD' | translate}}"
                />
                <small *ngIf="newPassword.invalid && (newPassword.dirty)">
                  {{'DRIVER.NEWPASSWORD' | translate}} {{'COMMON.ISREQUIRED' |
                  translate}}
                </small>
              </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
              <div class="form-group">
                <label
                  >{{'DRIVER.CONFORMNEWPASSWORD' | translate}}
                  <span class="astrick">&nbsp;*</span>
                </label>
                <input
                  type="text"
                  form="editForm"
                  pattern="{{newPassword}}"
                  [(ngModel)]="SetDetail.conPassword"
                  #conPassword="ngModel"
                  name="conPassword"
                  class="form-control"
                  placeholder="{{'DRIVER.CONFORMNEWPASSWORD' | translate}}"
                />
                <div *ngIf="(conPassword.value)">
                  <small *ngIf="(newPassword.value!=conPassword.value)">
                    {{'DRIVER.PASSWORDNOTMATCHED' | translate}}
                  </small>
                </div>
              </div>
            </div>
            <div class="save-cancel-butn">
              <input
                name="save"
                type="submit"
                value="Save"
                (click)="updateRecord('password',SetDetail)"
                class="sc-butn m-r-10"
              />
              <!-- <button [disabled]="!(newPassword.valid&&conPassword.valid)" class="sc-butn">Cancel</button> -->
            </div>
          </div>
          <img src="assets/images/arrow-top.jpg" class="postn-arrow" />
        </div>
        <!-- end hide password -->

        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12 pad25 relative"></div>

        <!-- hide password -->
        <div
          class="col-sm-6 col-xs-12 pad25 relative col-sm-offset-6 top-rel-phone"
          *ngIf="expandededitmobile"
        >
          <div class="phone-box-1">
            <h4><i class="fa fa-mobile"></i>&nbsp;&nbsp;&nbsp;Phone</h4>
            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
              <div class="form-group">
                <label
                  >{{'PROFILE.MOBILENUMBER' | translate}}
                  <span class="astrick">&nbsp;*</span>
                </label>
                <input
                  type="text"
                  name="phone"
                  class="form-control"
                  [disabled]="showOtp"
                  form="editForm"
                  [(ngModel)]="SetDetail.phone"
                  #phone="ngModel"
                  required
                />
              </div>
            </div>

            <div class="col-xs-12 col-md-3">
              <input
                name="save"
                type="submit"
                value="Save"
                [disabled]="showOtp"
                (click)="checkPhoneWithOTP(SetDetail.phone)"
                class="sc-butn"
              />
            </div>
            <br />
            &nbsp;
            <div class="col-md-12">
              <div *ngIf="showOtp===true">
                <div class="form-group">
                  <!-- <h3>OTP</h3> -->
                  <label
                    >{{'DRIVER.OTP' | translate}}
                    <span class="astrick">&nbsp;*</span>
                  </label>
                  <input
                    autofocus
                    type="tel"
                    mask="0000"
                    [(ngModel)]="newList.otp"
                    #otp="ngModel"
                    name="otp"
                    required
                    placeholder="{{'DASHBOARD.ENTER' | translate}} {{'DRIVER.OTP' | translate}}"
                    class="form-control"
                  />
                  <small
                    *ngIf="otp.invalid && (otp.dirty)"
                    class="form-text error"
                  >
                    {{'DRIVER.OTP' | translate}} {{'COMMON.ISREQUIRED' |
                    translate}}
                  </small>
                </div>
                <br />
                <div class="form-group">
                  <button
                    type="submit"
                    [disabled]="!newList.otp"
                    (click)="verifyOTP('phone',newList.otp)"
                    class="btn btn-danger"
                  >
                    {{'DASHBOARD.SUBMIT' | translate}}
                  </button>
                </div>
              </div>
            </div>

            <!-- <div class="save-cancel-butn">
              <input name="save" type="submit" value="Save" (click)="updateRecord('phone',SetDetail)"
                class="sc-butn m-r-10">
            </div> -->
          </div>
          <img src="assets/images/arrow-top.jpg" class="postn-arrow-phone" />
        </div>
        <!-- end hide password -->
      </div>
    </section>
  </div>
</div>
<!-- popup model start here -->

<!-- <div class="modal fade model-hide" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-content-popup">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="exampleModalLabel">Profile Picture</h5>
      </div>
      <div class="modal-body">
        <div class="img-preview-box ">
          <img src="{{SelectedUserPic}}" *ngIf="localUrl" class="imgPlaceholder">
          <img id="output" class="" src="{{SelectedUserPic}}" />
        </div>
        <div id="click-result"></div>
        <div class="upload-btn-wrapper">
          <button class="btn upload-click">Upload a file</button>
          <input type="file" name="updatingUserPic" [(ngModel)]="SetDetail.updatingUserPic" form="editForm" (change)="fileEventProfile($event)"
            #updatingUserPic="ngModel" />
        </div>
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-secondary savepopup">Save</button>
        <button type="button" class="btn btn-primary cancelpopup " data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div> -->
<!--  popup model Insurance end here -->

<!--end -->
