<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>870272282201-qt11r01n81j6u1iaph7edfdc9a4soi4n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.870272282201-qt11r01n81j6u1iaph7edfdc9a4soi4n</string>
	<key>API_KEY</key>
	<string>AIzaSyAhzER1HU9nMCwwzsVVmC6MUb3BisKShmw</string>
	<key>GCM_SENDER_ID</key>
	<string>870272282201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abservetechIOS.expresstrack</string>
	<key>PROJECT_ID</key>
	<string>expresstrackstage</string>
	<key>STORAGE_BUCKET</key>
	<string>expresstrackstage.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:870272282201:ios:ef0fab8caffc0569274b48</string>
	<key>DATABASE_URL</key>
	<string>https://expresstrackstage.firebaseio.com</string>
</dict>
</plist>