@media only screen and (max-width: 768px) {
    #timepicker_popup {
        position: fixed;
    }

    .form-group.row.overflow {
        overflow: hidden;
    }
}



.input-img {
    background-color: transparent;
    border: none;
    /* border-bottom: 1px solid #7d7d7d; */
    border-radius: 0px;
    min-width: 26px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 0;
    text-align: left;
    font-size: 15px;
}

.btn_arrow {
    outline: 0px;
    padding: 0;
    border: 0;
    background-color: transparent;
    color: #91c126;
    font-size: 19px;
}

.nav_booking_tabs li a {
    color: #262626;
    font-size: 16px;
    font-weight: 500;

}

.nav-tabs>li>a 
{
    margin: 0;
}

.nav_booking_tabs li.active a {
    border: 0px;
    background-color: #344486;
    color: #fff;
    border-radius: 18px 0px 18px 0px;
    padding: 7px 0px 6px 0;
}

.available_veh {
    background-color: #344486;
    border-color: #344486;
}

.driver_section_container {
    margin-top: 10px;
}

.driver_section .tab-pane {
    display: none;
}

.driver_section .tab-pane.active {
    display: block;
}

.driver_section .tab-pane h2 {
    font-size: 22px;
    color: #30387a;
    font-weight: 600;
    padding-left: 25px;
}

.driver_section .tab-pane ul li {
    padding-bottom: 10px;
}

.col-form-label {
    left: 15px;
}

.form-group.row {
    text-align: center;
}

.input-group {
    text-align: initial;
}

.img {
    height: 25px;
    width: 60px;
    border-radius: 50%;
    flex-shrink: 0;
}

mat-card {
    border: 1px solid #ccc;
    border-radius: 4px;
}

.rental-card {
    margin-left: 10px;
}

.text-bold {
    font-weight: bold;
}

.row.rental-card .table-responsive>.table-bordered>tbody>tr>td {
    width: 100px;
    max-width: 100px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

@media (max-width:768px) {
    .mrg {
        margin-left: 22px !important;
    }

    .mrg-tab {
        margin-left: 10px !important;
    }

    .top-btn {
        top: -28px !important;
    }

    .rental-card {
        margin: 0px;
    }
}

.custom-text-align {
    text-align: none;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #344486;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}