<nb-card>
    <nb-card-header>
        <div class="row">
            <div class="col-md-2">
                Driver Duty Report 
            </div>
            <div class="col-md-10">
                <form #dateForm="ngForm" class="form-inline">
                    <label>From:</label>&nbsp;
                    <input [owlDateTime]="dt1" required [owlDateTimeTrigger]="dt1" placeholder="Click to Select a Date" class="form-control" name="date_gte" [(ngModel)]="list.date_gte">
                    <owl-date-time #dt1 pickerType="calendar"></owl-date-time> &nbsp;
                    <label>To:</label>&nbsp;
                   <input [owlDateTime]="dt2" required [owlDateTimeTrigger]="dt2" placeholder="Click to Select a Date" class="form-control" name="date_lte" [(ngModel)]="list.date_lte">
                   <owl-date-time #dt2 pickerType="calendar" startAt="month"></owl-date-time>&nbsp;&nbsp;       
                   <!-- <div *ngIf="showCity==true">
                        <select name="city" required placeholder="Service Available city" class="form-control" [(ngModel)]="list.servicecity" name="servicecity">
                                <option value="undefined" selected hidden>Service Available City</option>
                                <option *ngFor= "let c of city" value={{c.label}} >{{c.label}}</option>  
                            </select>    
                   </div>  -->
                      &nbsp;&nbsp;
                   <button type="button" class="btn btn-danger"  (click)="getDriver(list)">Submit</button>
                    
                </form>
            </div>
      
        </div>
    </nb-card-header>
    <nb-card-body>
            <ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table>
    </nb-card-body>
</nb-card>

<button type="button" (click)="goBack()" class="btn btn-primary">Go Back</button> 