<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Reset Password</nb-card-header>
      <nb-card-body>
        <form (ngSubmit)="updateResetPass(list)" #dataForm="ngForm">
          <div class="form-group">
            <label>Email Address</label>
            <input type="email" [(ngModel)]="list.userEmailId" disabled name="userEmailId" #userEmailId="ngModel"
              required placeholder="Email" class="form-control" />
          </div>
          <div class="form-group">
            <label>Old Password</label>
            <input type="password" [(ngModel)]="list.oldPassword" name="oldPassword" #oldPassword="ngModel" required
              placeholder="Old Password" class="form-control" />
            <small *ngIf="oldPassword.invalid && (oldPassword.dirty)" class="form-text error">
              Old Password is required!
            </small>
          </div>
          <div class="form-group">
            <label>New Password</label>
            <input type="password" [(ngModel)]="list.newPassword" name="newPassword" #newPassword="ngModel" required
              placeholder="New Password" class="form-control" />
            <small *ngIf="newPassword.invalid && (newPassword.dirty)" class="form-text error">
              New Password is required!
            </small>
          </div>
          <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" [(ngModel)]="list.confirmPassword" name="confirmPassword" #confirmPassword="ngModel"
              required placeholder="Confirm Password" class="form-control" />
            <small *ngIf="confirmPassword.invalid && (confirmPassword.dirty)" class="form-text error">
              Confirm Password is required!
            </small>
          </div>
          <button type="submit" [disabled]="!dataForm.form.valid" class="btn btn-success btn-block">Reset</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
