<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>Add Rider</nb-card-header>
      <nb-card-body>
        <form
          (ngSubmit)="AddNewDoc(list)"
          #dataForm="ngForm"
          autocomplete="off"
        >
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>First Name (<span class="red">*</span>)</label>
                <input
                  autofocus
                  type="text"
                  minlength="{{ validation.fnameValid.minlength }}"
                  maxlength="{{ validation.fnameValid.maxlength }}"
                  pattern="{{ validation.fnameValid.pattern }}"
                  [(ngModel)]="list.fname"
                  #fname="ngModel"
                  name="fname"
                  required
                  placeholder="First Name"
                  class="form-control"
                />
                <small
                  *ngIf="fname.invalid && fname.dirty"
                  class="form-text error"
                >
                  First Name is invalid!
                </small>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Last Name (<span class="red">*</span>)</label>
                <input
                  type="text"
                  minlength="{{ validation.lnameValid.minlength }}"
                  maxlength="{{ validation.lnameValid.maxlength }}"
                  pattern="{{ validation.lnameValid.pattern }}"
                  [(ngModel)]="list.lname"
                  #lname="ngModel"
                  name="lname"
                  placeholder="Last Name"
                  class="form-control"
                  required
                />
                <small
                  *ngIf="lname.invalid && lname.dirty"
                  class="form-text error"
                >
                  Last Name is invalid!
                </small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>Email </label>
                <input
                  type="text"
                  email
                  pattern="{{ validation.emailValid }}"
                  [(ngModel)]="list.email"
                  name="email"
                  #email="ngModel"
                  placeholder="Email"
                  autocomplete="off"
                  class="form-control"
                />
                <small
                  *ngIf="email.invalid && email.dirty"
                  class="form-text error"
                >
                  Valid Email id is required!
                </small>
              </div>
            </div>
            <div class="col-md-2">
              <label>Phone Code</label>
              <select
                class="form-control"
                #phcode="ngModel"
                name="phcode"
                [(ngModel)]="list.phcode"
                required
              >
                <!-- <option value="undefined" selected hidden>Select</option> -->
                <option *ngFor="let city of list_phon_code" value="{{ city }}">
                  {{ city }}
                </option>
              </select>
              <!-- <input autofocus [disabled]='phcode' type="tel" mask="000" [(ngModel)]="verifyinputs.phcode"
                                                                                #phcode="ngModel" name="phcode" required placeholder="Code" class="form-control" /> -->
              <small
                *ngIf="phcode.invalid && phcode.dirty"
                class="form-text error"
              >
                Phone Code is required!
              </small>
            </div>
            <div class="col-md-4">
              <!-- <div class="form-group">
                <label>Phone (<span class="red">*</span>)</label>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text"> {{dialCode}}
                    </div>
                  </div>
                  <ngx-intl-tel-input [cssClass]="'form-control'" [preferredCountries]="preferredCountries"
                    [enableAutoCountrySelect]="false" [enablePlaceholder]="true" [searchCountryFlag]="true"
                    [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                    [selectFirstCountry]="false" [selectedCountryISO]="CountryISO.India"
                    [tooltipField]="TooltipLabel.Name" [phoneValidation]="true" name="phone" [formControl]="phone"
                    [maxLength]="15"></ngx-intl-tel-input>
                </div>
              </div> -->
              <div class="form-group">
                <label class="required"
                  >Phone (<span class="red">*</span>)</label
                >
                <input
                  type="tel"
                  pattern="{{ validation.phoneValid.pattern }}"
                  minlength="{{ validation.phoneValid.minlength }}"
                  maxlength="{{ validation.phoneValid.maxlength }}"
                  [(ngModel)]="list.phone"
                  name="phone"
                  #phone="ngModel"
                  placeholder="Phone"
                  class="form-control"
                  required
                />
                <small
                  *ngIf="phone.invalid && phone.dirty"
                  class="form-text error"
                >
                  Phone is required!
                </small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>Password (<span class="red">*</span>)</label>
                <input
                  type="password"
                  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,}$"
                  minlength="{{ validation.pwdValid.minlength }}"
                  maxlength="{{ validation.pwdValid.maxlength }}"
                  [(ngModel)]="list.password"
                  #password="ngModel"
                  name="password"
                  required
                  placeholder="Password"
                  autocomplete="new-password"
                  class="form-control"
                />
                <small
                  *ngIf="
                    password.invalid && (password.dirty || password.touched)
                  "
                  class="form-text error"
                >
                Valid Password is required! (min 8 Character with Uppercase, Lowercase, Special character, Number)
                </small>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="demo-radio">
                <label>Gender</label>
                <label class="custom-control custom-radio">
                  <input
                    type="radio"
                    class="custom-control-input"
                    [(ngModel)]="list.gender"
                    name="gender"
                    value="Male"
                    selected
                  />
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description"> Male </span>
                </label>
                <label class="custom-control custom-radio">
                  <input
                    type="radio"
                    class="custom-control-input"
                    [(ngModel)]="list.gender"
                    name="gender"
                    value="Female"
                  />
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description"> Female </span>
                </label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>Country</label>
                <ng-select
                  name="countries"
                  placeholder="Select a Country"
                  filterPlaceholder="Type to Search a Country"
                  notFoundMsg="No Countries Found"
                  [(ngModel)]="list.cnty"
                  [options]="countries"
                  [allowClear]="true"
                  (selected)="selectedCountry($event)"
                  (deselected)="deSelectedCountry($event)"
                >
                  <ng-template #optionTemplate let-option="option">
                    <span class="{{ option.value }}">{{ option.label }}</span>
                  </ng-template>
                </ng-select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>State / Provinces</label>
                <ng-select
                  name="states"
                  placeholder="Select a State / Provinces"
                  filterPlaceholder="Type to Search a State / Provinces"
                  notFoundMsg="No States / Provinces found"
                  [(ngModel)]="list.state"
                  [options]="states"
                  [allowClear]="true"
                  (selected)="selectedState($event)"
                  (deselected)="deSelectedState($event)"
                >
                  <ng-template #optionTemplate let-option="option">
                    <span class="{{ option.value }}">{{ option.label }}</span>
                  </ng-template>
                </ng-select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>City</label>
                <ng-select
                  name="cities"
                  placeholder="Select a City"
                  filterPlaceholder="Type to Search a City"
                  notFoundMsg="No Cities Found"
                  [(ngModel)]="list.city"
                  [options]="cities"
                  [allowClear]="true"
                  (selected)="selectedCity($event)"
                  (deselected)="deSelectedCity($event)"
                >
                  <ng-template #optionTemplate let-option="option">
                    <span class="{{ option.value }}">{{ option.label }}</span>
                  </ng-template>
                </ng-select>
              </div>
            </div>
            <div class="col-sm-6" *ngIf="showservicecity == true">
              <div class="form-group">
                <label
                  >Service Available City (<span class="red">*</span>)</label
                >
                <ng-multiselect-dropdown
                  [placeholder]="'Service Available City'"
                  name="scIds"
                  [data]="serviceCity"
                  [(ngModel)]="list.scIds"
                  [settings]="dropdownSettings"
                  (onSelect)="onItemSelect($event)"
                  required
                  (onDeSelect)="onItemDeSelect($event)"
                  class="form-control"
                >
                </ng-multiselect-dropdown>
              </div>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>Language</label>
                <select class="form-control" [(ngModel)]="list.lang" name="lang" placeholder="Language">
                  <option [value]="undefined" selected hidden> Select a Language</option>
                  <option *ngFor="let lang of langary" [value]="lang.id">
                    {{lang.name}}
                  </option>
                </select>
              </div>
            </div> -->
          <!-- <div class="col-sm-6">
              <div class="form-group">
                <label>Currency</label>
                <select class="form-control" [(ngModel)]="list.cur" name="cur" placeholder="Currency">
                  <option [value]="undefined" selected hidden> Select a Currency</option>
                  <option *ngFor="let cur of currencyary" [value]="cur.id">
                    {{cur.name}}
                  </option>
                </select>
              </div>
            </div> -->
          <!-- <div class="col-sm-6" *ngIf="showservicecity == true && showCurr == false">
              <div class="form-group">
                <label>Currency</label>
                <input type="text" [(ngModel)]="list.cur" #cur="ngModel" name="cur" placeholder="Currency" disabled
                  class="form-control" />
              </div>
            </div>
            <div class="col-sm-6" *ngIf="showservicecity == false || showCurr == true">
              <div class="form-group">
                <label>Currency</label>
                <select class="form-control" [(ngModel)]="list.cur" name="cur" #cur="ngModel" placeholder="Currency">
                  <option [value]="undefined" selected hidden> Select a Currency</option>
                  <option *ngFor="let cur of currencyary" [value]="cur.id">
                    {{cur.name}}
                  </option>
                </select>
              </div>
            </div> -->
          <!-- </div> -->
          <button
            type="submit"
            [disabled]="!dataForm.form.valid"
            class="btn btn-success"
          >
            Add
          </button>
        </form>
      </nb-card-body>
    </nb-card>
    <!--  <div class='toaster'>
       <button class="toast btn" (click)="beforeshowtoast('error','Msg','Title')">click Me   </button> </div>
</div>  -->
  </div>
</div>
