<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header> SOFT REJECT</nb-card-header>
      <nb-card-body>
        <form #dataForm="ngForm">
          <div class="form-group">
            <label> Message (<span class="red">*</span>)</label>
            <input
              type="text"
              [(ngModel)]="list.softRejectReason"
              #softRejectReason="ngModel"
              name="softRejectReason"
              required
              placeholder="Enter the message."
              class="form-control"
            />
            <small
              *ngIf="softRejectReason.invalid && softRejectReason.dirty"
              class="form-text error"
            >
              Valid Message is required!
            </small>
          </div>
          <button
            [disabled]="!dataForm.form.valid"
            nbButton
            status="primary"
            type="submit"
            (click)="softDel(list)"
          >
            Add
          </button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
