<ngx-spinner
  bdOpacity="0.9"
  bdColor="#333"
  size="medium"
  color="#fff"
  type="ball-clip-rotate-multiple"
>
</ngx-spinner>
<section>
  <div class="main-container">
    <div class="sub-main-div">
      <div class="loginform mt mb">
        <div
          class="col-lg-11 col-lg-offset-1 col-sm-11 col-sm-offset-1 col-md-11 col-md-offset-1 col-xs-12"
        >
          <div class="login-tittle" id="logn-tittle">
            <h2>{{ "DRIVER.FORGOTPASSWORD" | translate }}</h2>
            <p>{{ "DASHBOARD.DRIVER" | translate }}</p>
          </div>
          <!-- <div class="forgot-tittle" id="forgt-tittle">
                    <h2>Forgot Password </h2>
                </div> -->

          <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12 mt no_pad formlabel">
            <!-- login form -->
            <!-- forget password box-hide -->
            <div class="forget-form" *ngIf="showForgetPass == true">
              <div class="form-group">
                <!-- <label>Email</label>
                        <input type="text" [(ngModel)]="newList.email" #email="ngModel" name="email" required class="form-control"> -->
                <label
                  >{{ "DRIVER.PLEASEENTER" | translate }}
                  {{ methodName | titlecase }}
                  {{ "DRIVER.VERIFICAIONCODE" | translate }}</label
                >

                <div class="row">
                  <div class="col-sm-3">
                    <!-- <label>City</label> -->
                    <select
                      class="form-control"
                      name="phcode"
                      [(ngModel)]="newList.phcode"
                      required
                    >
                      <!-- <option value="undefined" selected hidden>Select</option> -->
                      <option
                        *ngFor="let city of list_phon_code"
                        value="{{ city }}"
                      >
                        {{ city }}
                      </option>
                    </select>
                  </div>
                  <div class="col-sm-8">
                    <input
                      *ngIf="verifyMeth === 'email'"
                      class="form-control"
                      autofocus
                      type="email"
                      email
                      [(ngModel)]="newList.email"
                      #email="ngModel"
                      placeholder="{{ 'DASHBOARD.ENTER' | translate }} {{
                        methodName | titlecase
                      }}"
                      name="email"
                      required
                    />

                    <input
                      *ngIf="verifyMeth === 'phone'"
                      type="tel"
                      mask="0000000000"
                      [(ngModel)]="newList.email"
                      #email="ngModel"
                      name="email"
                      required
                      placeholder="{{ 'DASHBOARD.ENTER' | translate }} {{
                        methodName | titlecase
                      }}"
                      class="form-control"
                    />
                  </div>
                </div>
              </div>

              <input
                type="submit"
                (click)="getRecoverEmail(newList)"
                [disabled]="!newList.email || newList.phcode"
                class="forgetbutn"
                value="{{ 'DASHBOARD.SUBMIT' | translate }}"
              />
            </div>

            <!--End forget password  -->
            <!-- OTPbox-hide -->
            <div class="forget-form" *ngIf="showOtp == true">
              <br />
              <div class="form-group">
                <label>{{ "DRIVER.ENTERVERIFICATIONCODE" | translate }}</label>
                <input
                  type="text"
                  [(ngModel)]="newList.otp"
                  #otp="ngModel"
                  name="otp"
                  required
                  class="form-control"
                />
              </div>
              <input
                type="submit"
                (click)="getVerify(newList)"
                class="forgetbutn"
                value="SUBMIT"
              />
            </div>
            <!--End OTP password  -->
            <!-- OTPbox-hide -->
            <div class="forget-form" *ngIf="showPassreset == true">
              <div class="col-lg-8 col-sm-8 col-md-8 col-xs-12">
                <div class="form-group">
                  <label
                    >{{ "DRIVER.NEWPASSWORD" | translate }}
                    <span class="astrick">&nbsp;*</span>
                  </label>
                  <input
                    type="password"
                    [(ngModel)]="PasLISt.newpassword"
                    #newpassword="ngModel"
                    name="newpassword"
                    class="form-control"
                    placeholder="New Password"
                  />
                  <small *ngIf="newpassword.invalid && newpassword.dirty">
                    {{ "DRIVER.NEWPASSWORD" | translate }}
                    {{ "COMMON.ISREQUIRED" | translate }}
                  </small>
                </div>
              </div>
              <div class="col-lg-8 col-sm-8 col-md-8 col-xs-12">
                <div class="form-group">
                  <label
                    >{{ "DRIVER.CONFORMNEWPASSWORD" | translate }}
                    <span class="astrick">&nbsp;*</span>
                  </label>
                  <input
                    type="password"
                    pattern="{{ newPassword }}"
                    [(ngModel)]="PasLISt.confirmpassword"
                    #confirmpassword="ngModel"
                    name="confirmpassword"
                    class="form-control"
                    placeholder="{{ 'DRIVER.CONFORMNEWPASSWORD' | translate }}"
                  />
                  <div *ngIf="confirmpassword.value">
                    <small *ngIf="newpassword.value != confirmpassword.value">
                      {{ "DRIVER.PASSWORDNOTMATCHED" | translate }}
                    </small>
                  </div>
                </div>
              </div>
              <input
                type="submit"
                (click)="resetPass(PasLISt)"
                class="forgetbutn"
                value="{{ 'DASHBOARD.SUBMIT' | translate }}"
              />
            </div>
            <!--End OTP password  -->

            <!-- eng login form  -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  @media screen and (max-width: 768px) {
    .formlabel {
      border-right: 0px;
    }
  }
</style>
