<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eLiift.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>34</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>6E40B4C79DABAE5AE5961A2B18DA486AEC452F3C</string>
				<key>dateExpires</key>
				<string>14/11/23</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E40B4C79DABAE5AE5961A2B18DA486AEC452F3C</string>
						<key>dateExpires</key>
						<string>14/11/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Cosmos.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F6G9374LLZ</string>
						<key>name</key>
						<string>ABSERVETECH PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>23.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E40B4C79DABAE5AE5961A2B18DA486AEC452F3C</string>
						<key>dateExpires</key>
						<string>14/11/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CountryPickerView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F6G9374LLZ</string>
						<key>name</key>
						<string>ABSERVETECH PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>3.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E40B4C79DABAE5AE5961A2B18DA486AEC452F3C</string>
						<key>dateExpires</key>
						<string>14/11/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DropDown.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F6G9374LLZ</string>
						<key>name</key>
						<string>ABSERVETECH PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.13</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E40B4C79DABAE5AE5961A2B18DA486AEC452F3C</string>
						<key>dateExpires</key>
						<string>14/11/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F6G9374LLZ</string>
						<key>name</key>
						<string>ABSERVETECH PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E40B4C79DABAE5AE5961A2B18DA486AEC452F3C</string>
						<key>dateExpires</key>
						<string>14/11/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseABTesting.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F6G9374LLZ</string>
						<key>name</key>
						<string>ABSERVETECH PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>8.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E40B4C79DABAE5AE5961A2B18DA486AEC452F3C</string>
						<key>dateExpires</key>
						<string>14/11/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F6G9374LLZ</string>
						<key>name</key>
						<string>ABSERVETECH PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>8.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E40B4C79DABAE5AE5961A2B18DA486AEC452F3C</string>
						<key>dateExpires</key>
						<string>14/11/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F6G9374LLZ</string>
						<key>name</key>
						<string>ABSERVETECH PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>8.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E40B4C79DABAE5AE5961A2B18DA486AEC452F3C</string>
						<key>dateExpires</key>
						<string>14/11/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseDatabase.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F6G9374LLZ</string>
						<key>name</key>
						<string>ABSERVETECH PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>8.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E40B4C79DABAE5AE5961A2B18DA486AEC452F3C</string>
						<key>dateExpires</key>
						<string>14/11/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F6G9374LLZ</string>
						<key>name</key>
						<string>ABSERVETECH PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>8.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E40B4C79DABAE5AE5961A2B18DA486AEC452F3C</string>
						<key>dateExpires</key>
						<string>14/11/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F6G9374LLZ</string>
						<key>name</key>
						<string>ABSERVETECH PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>8.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E40B4C79DABAE5AE5961A2B18DA486AEC452F3C</string>
						<key>dateExpires</key>
						<string>14/11/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseRemoteConfig.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F6G9374LLZ</string>
						<key>name</key>
						<string>ABSERVETECH PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>8.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E40B4C79DABAE5AE5961A2B18DA486AEC452F3C</string>
						<key>dateExpires</key>
						<string>14/11/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GeoFire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F6G9374LLZ</string>
						<key>name</key>
						<string>ABSERVETECH PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>4.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E40B4C79DABAE5AE5961A2B18DA486AEC452F3C</string>
						<key>dateExpires</key>
						<string>14/11/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F6G9374LLZ</string>
						<key>name</key>
						<string>ABSERVETECH PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>9.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E40B4C79DABAE5AE5961A2B18DA486AEC452F3C</string>
						<key>dateExpires</key>
						<string>14/11/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F6G9374LLZ</string>
						<key>name</key>
						<string>ABSERVETECH PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>7.11.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E40B4C79DABAE5AE5961A2B18DA486AEC452F3C</string>
						<key>dateExpires</key>
						<string>14/11/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F6G9374LLZ</string>
						<key>name</key>
						<string>ABSERVETECH PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.10</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E40B4C79DABAE5AE5961A2B18DA486AEC452F3C</string>
						<key>dateExpires</key>
						<string>14/11/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>JWTDecode.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F6G9374LLZ</string>
						<key>name</key>
						<string>ABSERVETECH PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.6.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E40B4C79DABAE5AE5961A2B18DA486AEC452F3C</string>
						<key>dateExpires</key>
						<string>14/11/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F6G9374LLZ</string>
						<key>name</key>
						<string>ABSERVETECH PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>7.6.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E40B4C79DABAE5AE5961A2B18DA486AEC452F3C</string>
						<key>dateExpires</key>
						<string>14/11/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Lottie.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F6G9374LLZ</string>
						<key>name</key>
						<string>ABSERVETECH PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E40B4C79DABAE5AE5961A2B18DA486AEC452F3C</string>
						<key>dateExpires</key>
						<string>14/11/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MarqueeLabel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F6G9374LLZ</string>
						<key>name</key>
						<string>ABSERVETECH PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>4.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E40B4C79DABAE5AE5961A2B18DA486AEC452F3C</string>
						<key>dateExpires</key>
						<string>14/11/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PINCache.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F6G9374LLZ</string>
						<key>name</key>
						<string>ABSERVETECH PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>3.0.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E40B4C79DABAE5AE5961A2B18DA486AEC452F3C</string>
						<key>dateExpires</key>
						<string>14/11/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PINOperation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F6G9374LLZ</string>
						<key>name</key>
						<string>ABSERVETECH PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E40B4C79DABAE5AE5961A2B18DA486AEC452F3C</string>
						<key>dateExpires</key>
						<string>14/11/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PINRemoteImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F6G9374LLZ</string>
						<key>name</key>
						<string>ABSERVETECH PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>3.0.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E40B4C79DABAE5AE5961A2B18DA486AEC452F3C</string>
						<key>dateExpires</key>
						<string>14/11/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Razorpay.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F6G9374LLZ</string>
						<key>name</key>
						<string>ABSERVETECH PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.14</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E40B4C79DABAE5AE5961A2B18DA486AEC452F3C</string>
						<key>dateExpires</key>
						<string>14/11/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxCocoa.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F6G9374LLZ</string>
						<key>name</key>
						<string>ABSERVETECH PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E40B4C79DABAE5AE5961A2B18DA486AEC452F3C</string>
						<key>dateExpires</key>
						<string>14/11/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxRelay.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F6G9374LLZ</string>
						<key>name</key>
						<string>ABSERVETECH PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E40B4C79DABAE5AE5961A2B18DA486AEC452F3C</string>
						<key>dateExpires</key>
						<string>14/11/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RxSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F6G9374LLZ</string>
						<key>name</key>
						<string>ABSERVETECH PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E40B4C79DABAE5AE5961A2B18DA486AEC452F3C</string>
						<key>dateExpires</key>
						<string>14/11/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SideMenuSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F6G9374LLZ</string>
						<key>name</key>
						<string>ABSERVETECH PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.9</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E40B4C79DABAE5AE5961A2B18DA486AEC452F3C</string>
						<key>dateExpires</key>
						<string>14/11/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SkyFloatingLabelTextField.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F6G9374LLZ</string>
						<key>name</key>
						<string>ABSERVETECH PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>3.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E40B4C79DABAE5AE5961A2B18DA486AEC452F3C</string>
						<key>dateExpires</key>
						<string>14/11/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SocketIO.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F6G9374LLZ</string>
						<key>name</key>
						<string>ABSERVETECH PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>11.1.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E40B4C79DABAE5AE5961A2B18DA486AEC452F3C</string>
						<key>dateExpires</key>
						<string>14/11/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>StarscreamSocketIO.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F6G9374LLZ</string>
						<key>name</key>
						<string>ABSERVETECH PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>8.0.7</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E40B4C79DABAE5AE5961A2B18DA486AEC452F3C</string>
						<key>dateExpires</key>
						<string>14/11/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>StepSlider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F6G9374LLZ</string>
						<key>name</key>
						<string>ABSERVETECH PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E40B4C79DABAE5AE5961A2B18DA486AEC452F3C</string>
						<key>dateExpires</key>
						<string>14/11/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Stripe.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F6G9374LLZ</string>
						<key>name</key>
						<string>ABSERVETECH PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>15.0.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E40B4C79DABAE5AE5961A2B18DA486AEC452F3C</string>
						<key>dateExpires</key>
						<string>14/11/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftEventBus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F6G9374LLZ</string>
						<key>name</key>
						<string>ABSERVETECH PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E40B4C79DABAE5AE5961A2B18DA486AEC452F3C</string>
						<key>dateExpires</key>
						<string>14/11/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F6G9374LLZ</string>
						<key>name</key>
						<string>ABSERVETECH PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E40B4C79DABAE5AE5961A2B18DA486AEC452F3C</string>
						<key>dateExpires</key>
						<string>14/11/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F6G9374LLZ</string>
						<key>name</key>
						<string>ABSERVETECH PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.22.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6E40B4C79DABAE5AE5961A2B18DA486AEC452F3C</string>
						<key>dateExpires</key>
						<string>14/11/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F6G9374LLZ</string>
						<key>name</key>
						<string>ABSERVETECH PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30908.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>F6G9374LLZ.com.abservetech.eliift</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>F6G9374LLZ</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>eLiift.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b07e09de-3019-46b9-b42e-709c49323651</string>
				<key>dateExpires</key>
				<string>14/11/23</string>
				<key>name</key>
				<string>eLiift New Adhoc Profile</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>F6G9374LLZ</string>
				<key>name</key>
				<string>ABSERVETECH PRIVATE LIMITED</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
