<div class="row">
  <div class="col-md-6 col-sm-12">
    <label class="form-control-label">{{ "TRIP.YOURTRIP" | translate }} : {{ tripdspdetails.pLng }} On
      {{ tripdetails.date }}
    </label>

    <div class="tripmap" style="height: 300px">
      <ngui-map zoom="13" center="{{ tripdspdetails.pLat }},{{ tripdspdetails.pLng }}" mapTypeId="terrain"
        scrollwheel="false">
        <polyline [editable]="false" [path]="path" [geodesic]="true" [strokeColor]="'#FF0000'" [strokeOpacity]="1"
          [strokeWeight]="2"></polyline>
      </ngui-map>
    </div>
    <br />
    <br />
    <div class="form-group">
      <p>
        <b>{{ tripdspdetails.start }}</b><br />
        {{ tripdspdetails.from }}
      </p>
      <p>
        <b>{{ tripdspdetails.end }}</b><br />
        {{ tripdspdetails.to }}
      </p>
      <div class="col-md-12 col-sm-12">
        <hr />
      </div>
    </div>

    <div class="form-group">
      <div class="row show-grid">
        <div class="col-4 col-md-4">
          <div align="center">{{ "TRIP.CAR" | translate }}</div>
          <div align="center">
            <p>
              <b>{{ tripdetails.taxi }}</b>
            </p>
          </div>
        </div>
        <div class="col-4 col-md-4">
          <div align="center">{{ "DASHBOARD.DISTANCE" | translate }}</div>
          <div align="center">
            <p>
              <b>{{ tripcspdetails.dist }}</b>
            </p>
          </div>
        </div>
        <div class="col-4 col-md-4">
          <div align="center">{{ "TRIP.TRIPTIME" | translate }}</div>
          <div align="center">
            <p>
              <b>{{ tripcspdetails.time }}</b>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-sm-12">
      <hr />
    </div>
    <div class="form-group">
      <div class="row show-grid">
        <div class="col-6 col-md-6">
          <img alt="img" class="user-picture image" height="42" width="42" src="assets/images/driver.png" />
          <div align="center">{{ "DASHBOARD.DRIVER" | translate }}</div>
          <div align="center">
            <p>
              <b>{{ tripdetails.dvr }}</b>
            </p>
          </div>
        </div>
        <div class="col-6 col-md-6">
          <img _ngcontent-c3="" alt="img" class="user-picture image" height="42" src="assets/images/rider.png"
            width="42" />
          <div align="center">{{ "FARE.RIDER" | translate }}</div>
          <div align="center">
            <p>
              <b>{{ tripdetails.rid }}</b>
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="form-group">
						<div class="row show-grid">
							<div class="col-6 col-md-6">
								<div>ROUTE</div>
								<p><b>{{tripdetails.adsp.dLat}}</b></p>
							</div>
							<div class="col-6 col-md-6">
								<div>Rider</div>
								<p><b>{{tripdetails.adsp.dLng}}</b></p>
							</div> 
						</div>
					</div>  -->
  </div>

  <div class="col-md-6 col-sm-12">
    <br />
    <b><label class="form-control-label">{{ "TRIP.FAREBREAKDOWNFORRIDER" | translate }} :
        {{ tripdetails.tripno }}
      </label>
    </b>
    <hr />

    <div class="row show-grid">
      <div class="col-md-4">
        <div>{{ "DASHBOARD.BASEFARE" | translate }}</div>
      </div>
      <div class="col-md-4 offset-md-4">
        <div>{{ tripcspdetails.base }}</div>
      </div>
      <div class="col-md-4">
        <div>
          {{ "DASHBOARD.DISTANCE" | translate }} ({{ tripcspdetails.dist }} mile)
        </div>
      </div>
      <div class="col-md-4 offset-md-4">
        <div>{{ tripcspdetails.distfare }}</div>
      </div>
      <div class="col-md-4">
        <div>
          {{ "DASHBOARD.TIME" | translate }} ({{ tripcspdetails.time }} seconds)
        </div>
      </div>
      <div class="col-md-4 offset-md-4">
        <div>{{ tripcspdetails.timefare }}</div>
      </div>
      <div class="col-md-4">
        <div>{{ "TRIP.COMMISION" | translate }}</div>
      </div>
      <div class="col-md-4 offset-md-4">
        <div>- {{ tripcspdetails.comison }}</div>
      </div>
      <div class="col-md-12 col-sm-12">
        <hr />
      </div>
      <div class="col-md-4">
        <div>
          <b>{{ "DASHBOARD.TOTALFARE" | translate }} (Via
            {{ tripcspdetails.via }})</b>
        </div>
      </div>
      <div class="col-md-4 offset-md-4">
        <div>
          <b>{{ tripcspdetails.cost }}</b>
        </div>
      </div>
      <div class="col-md-12 col-sm-12">
        <hr />
      </div>
    </div>
    <br /><br /><br /><br />
    <div align="right">
      <button class="btn btn-primary" (click)="testHeader()">
        {{ "TRIP.EMAIL" | translate }}
      </button>
      <button class="btn btn-danger" (click)="deleteATripDetails()">
        {{ "COMMON.DELETE" | translate }}
      </button>
    </div>
  </div>
</div>